body {
    background-color: black;
    background-image: url("../images/backgroundF.png");
    background-repeat: repeat-x; 
}

p {
    color: #cab687;
    padding-bottom: 2%;
}

p.title {
    font-weight: bold;
    color: #cab687;
}

p.subtitle {
    font-weight: bold;
    color: white;
}

.accordions .accordion .accordion-header  {
    background-color: #d4edda;
    color: black;
    text-align: center;
}

.accordion-content {
    background-color: #d4edda;
}

.accordion-content p {
    color: #155724;
}

.column a {
    color: #cab687;
}

.column a:hover {
    color: #cab687;
    text-decoration: underline;
}

.level {
    padding-top: 5%;
}

.hero-body {
    padding-top: 5%;
}

#largeline {
    padding-bottom: 2%;
}

#smallline {
    padding-bottom: 5%;
}

#modal-ter p{
        color: black;
}