body {
    background-color: black;
    background-image: url("../images/karaoke/backgroundK.png");
    background-repeat: repeat-x;
}

p {
    color: #cab687;
    padding-bottom: 2%;
}

p a {
    color: #cab687;
}

p.subtitle {
    font-weight: bold;
    color: white;
}

ul {
    color: #000;
}

.level {
    padding-top: 5%;
}

.hero-body {
    padding-top: 5%;
}

#largeline {
    text-align: center;
    padding-bottom: 2%;
}

#modal-hours .modal-card-head {
        background-color: black;
}

#modal-hours .modal-card-head p{
        color: white;
}

#modal-hours .modal-card-body {
        background-color: black;
}

#modal-ter .modal-card-head {
        background-color: black;
}

#modal-ter .modal-card-head p{
        color: white;
}

#modal-ter .modal-card-body {
        background-color: black;
}

#modal-ter .modal-card-body h1{
        color: #cab687;
}

#modal-ter .modal-card-body hr{
        background-color: #cab687;
}

#modal-ter .modal-card-body ul li{
        color: #cab687;
}